label {
    color: skyblue;
}

input[type="text"] {
    border: 3px solid green;
}

input[type="email"] {
    background-color: blue;
    color: white;
    border: 3px solid black;
}

input[type="submit"] {
    background-color: green;
    color: white;
}

input[type="reset"] {
    background-color: red;
    color: white;
}

body {
    background-color: salmon;
}
